::-webkit-scrollbar{
    width: 5px; 
    height: 5px;
    background-color: rgba(88, 49, 244, 0.300);
}
::-webkit-scrollbar-thumb{
    width: 10px;
    background: rgba(88, 49, 244, 0.801);
    border-radius: 30px;
}
