*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
}
body{
    background: white !important;
}

.img__cart{
    min-height: 150px;
    width: 100%;
    object-fit: cover;
}
p{
    margin-bottom: 0;
}


.img__Mini__boxs{
    padding: 10px;
    transition: all 0.2s ease-in;
}
.btn__Box{
    width: 100%;
    height: 50px;
    border-radius: 15px;
    background-color: #F56E1E;
    color: white;
    font-size: 18px;
}



.Linia_GR{
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0),rgba(148, 148, 148, 0.692));
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
}
.Input__Signup{
    width: 80%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(163, 163, 163);
    padding: 0 0 0 5px;
    outline: none;
    margin: 0 20px 0 0;
}
.btn__Content{
    width: 40%;
    height: 40px;
    border-radius: 5px;
    background-color: #F56E1E;
    color: white;
    font-size: 15px;
}

.Logo{
    width: 150px;
    border-radius: 10px;
    object-fit:cover;
}


.InputSearch::placeholder{
    color: rgb(65, 41, 163);
}
.InputPlaceholder::placeholder{
    color: gray;
}


.icons{
    opacity: 0.5;
}
.Icon__telegram{
    opacity: 0.7;
}
.Icon__instagram{
    opacity: 0.7;
    margin-left: 20px;
}
.M1{
    margin-left: 10px;
}

.Logo__Chor{
    opacity: 0.5;
    filter: brightness(50%);
}

.hover__text:hover{
    color:black;
    transform: scale(101%);
}

.Icon__user{
    padding: 15px;
    width: 100%;
    height: 300px;
    object-fit:contain;
    background-color: aliceblue;
}

.burgerMn{
    background: rgb(255, 255, 255) !important;
}

.User__Name{
    background-color: rgb(225, 237, 251);
    padding: 0 5px;
    font-family:monospace;
    margin: 5px 0;
    width: 100%;
    height: 35px;
}

.scrolling{
    animation: scool 0.5s 1 linear;
    position: fixed;
    top: 0;
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.912) !important;
}
@keyframes scool {
    0%{
        position: fixed;
        top: -150px;
        opacity: 0.9;
    }
    40%{
        position: fixed;
        top: 10px;
    }
    100%{
        position: fixed;
        top: 0px;
    }
}
.noscrolling{
    animation: noscool 0.1s 1 linear;
    position: absolute;
    top: 0px;
    backdrop-filter: blur(6px);
    background-color: rgba(255, 255, 255, 0.912) !important;
}
@keyframes noscool {
    0%{
        position: fixed;
        top: 0px;
        opacity: 0.9;
    }
    40%{
        position: fixed;
        top: 10px;
    }
    100%{
        position: fixed;
        top: -150px;
    }
}



.Ktmenu{
    background-color: #d9f3ffc7;
}
.Ktmenu .__item{
    overflow: hidden;
    border-radius: 5px;
    background-color: rgb(233, 242, 255);
}

.Burgerr{
    animation: Retutn 0.2s 1 linear;
}

@keyframes Retutn {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(180deg);
    }
}

.Katalo__Items{
    padding: 7px 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin:0 0 5px 0;
    color: rgba(83, 80, 80, 0.851);
    font-size: 20px;
    border-radius: 5px;
    background-color: rgba(220, 225, 235, 0.594);
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    transition: all 0.2s ease;
    cursor: pointer;
}
.Katalo__Items:hover{
    background-color: rgba(208, 223, 248, 0.931);
    color: rgb(83, 80, 80);
    transform: scale(98%);
}

.noTr:hover{
    transform: scale(100%);    
}

.TextKt{
    transition: all 0.6s ease;
}

.Katalo__Items:hover .TextKt{
    color: black;
}

.bolk__MiNI__boxs:hover .img__Mini__boxs{
    transform: scale(110%);
}

.blok__Block__Cart:hover .img__cart{
    transform: scale(103%);
}

.btn__Wel:active{
    box-shadow: 0 0 15px rgb(92, 92, 92) inset;
}

.img__data{
    width: 100%;
    height: 80%;
    object-fit:contain;
}

.img__{
    object-fit: contain;
    cursor: pointer;
    border-radius: 5px;
}
.img__:not(:last-child){
    margin-right: 10px;
}

.HoverProdCart{
    transition: all 0.2s ease;
    position: relative;
    left: 0;
    bottom: 0;
}
.HoverProdCart:hover{
    box-shadow: -3px 3px 5px rgba(62, 42, 141, 0.26);
    position: relative;
    bottom: 3px;
}

.link{
    width: 50%;
}

.block_Cart{
    box-shadow: 0 0 5px rgba(219, 179, 245, 0.500);
    position: relative;
    transition: all 0.3s ease;
    left: 0;
    bottom: 0;
}
.block_Cart:hover{
    transform: scale(102%);
    z-index: 1;
    box-shadow: 0px 0px 15px rgba(169, 148, 255, 0.5);
}

.CaruselImg{
    min-height: 200px;
    max-height: 500px;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
}

.BgLiniaGradient{
    background: linear-gradient(to left top, rgb(128, 99, 255), rgba(192, 176, 255, 0.801), rgb(128, 99, 255));
    backdrop-filter: blur(20px);
}

.menuWindow{
    animation: window 0.5s linear 1 alternate;
}

.buton{
    transition: all 0.4s ease !important;
}
.buton:hover{
    background: rgba(182, 182, 255, 0.5);
}

@keyframes window {
    0%{
        margin: 0 0 50px;
        opacity: 0;
    }
    40%{
        margin: 0 0 -20px;
        opacity: 0.8;
    }
    100%{
        margin: 0;
        opacity: 1;
    }
}

@media screen and (max-width: 1279px){
    .img__{
        height: 100%;
    }
}
@media screen and (max-width: 991px){
    .img__data{
        width: 80%;
        object-fit:contain;
        height: 100%;
    }
    .img__:not(:last-child){
        margin-bottom: 20px;
        margin-right: 0;
    }
}
@media screen and (max-width: 768px){
    .img__data{
        margin-bottom: 5px;
        width: 70%;
        height: 100%;
    }
}
@media screen and (max-width: 633px){
    .img__data{
        object-fit: cover;
    }
    .Logo{
        width: 120px;
    }
}

.slick-arrow{
    display: none;
}
