*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    user-select: none;
    font-family: sans-serif;
}
body{
    background: white !important;
}

.img__cart{
    min-height: 150px;
    width: 100%;
    object-fit: cover;
}
p{
    margin-bottom: 0;
}
